/*
DARK PRIMARY COLOR #455A64
LIGHT PRIMARY COLOR #CFD8DC
PRIMARY COLOR #607D8B
TEXT / ICONS #FFFFFF
ACCENT COLOR #7C4DFF
PRIMARY TEXT #212121
SECONDARY TEXT #757575
DIVIDER COLOR #BDBDBD
*/

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
}

.section-title h3 {
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 32px;
}


/*-------------------HEADER-------------------------*/

header {
  background: url('../images/background.jpg');
  background-size: cover;
  color: #fff;
  width: 100%;
  padding-bottom: 100px;

}

nav {
    background: rgba(45, 45, 45, 0.7);
    padding: 0;
    margin-left: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.my-nav {
  margin-left: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  color: #fff;
  display: block;
  margin-top: 1rem;
  padding: .5rem 1rem;
}

nav a:hover {
  color: #fff;
}

.tag{
  text-align: center;
  padding: 120px 100px 0 100px;
  font-size: 28px;
  font-weight: bold;
}

.tag a {
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  border: 1px solid #fff;
  padding: 5px 10px;
  margin: 10px;
}

.tag a:hover {
  text-decoration: none;
  background: rgba(45, 45, 45, 0.7);
}

/*------------------SKILLS--------------------*/

.skills {
  padding: 50px 0;
}

.skills .image {
  padding: 4rem;
}

/*-------------------WORKS------------------------*/

.works {
  padding: 50px 0;
}

.projects span {
  display: block;
}

.projects .title {
  font-size: 1.5rem;
  font-weight: bold;
}

.projects .desc {
  font-size: 1rem;
  padding: 1rem 0;
}

.projects a{
  color: #7c4dff;
  font-size: 1rem;
  display: block;
  padding: .5rem 1rem;
  display: inline-block;
}

.projects {
  width: 500px;
  margin: 0 auto;
}

.flex-caption {
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(45, 45, 45, .5);
  color: #fff;
  font-size: 14px;
}

/*---------------------OTHER-------------------------------*/

.quote {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  background: #607D8B;
  padding: 50px 100px;
}

.zigzagtop{
  position: relative;
  width: 100%;
  height: 5px;
  background: #607D8B;
}

.zigzagtop:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #607D8B 33.333%, #607D8B 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #607D8B 33.333%, #607D8B 66.667%,
      transparent 66.667%
    );
  background-size: 15px 40px;
}


.zigzagdiv{
  position: relative;
  width: 100%;
  height: 5px;
  background: #fff;
}

.zigzagdiv:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #fff 33.333%, #fff 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #fff 33.333%, #fff 66.667%,
      transparent 66.667%
    );
  background-size: 15px 40px;
}
